POSTGRES_DB=taskmanager
POSTGRES_USER=taskuser
POSTGRES_PASSWORD=taskpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://taskuser:taskpassword@postgres:5432/taskmanager

REDIS_URL=redis://redis:6379/0

DJANGO_SECRET_KEY=secretKey12345
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0